<div class="devise-center">

  <h1 class="page-header" align="center">Sign up</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <h3>
      <%= f.label :avatar %>
    </h3>
    <p>
      <%= f.label :avatar %>
      <%= image_tag(@user.avatar.thumb.url) if @user.avatar? %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
      <%= f.label :remove_avatar do %>
        <%= f.check_box :remove_avatar %> Remove Avatar
      <% end %>
    </p>

    <div><%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %></div>

    <div><%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

      <h3 class="articles-form-headers">
          <%= f.label :biography %><br>
      </h3>
      <p>
        <%= f.text_area :biography, class: "summernote", placeholder: 'maximum: 1,000,000' %>
      </p>

    <br><div><%= f.submit "Sign up", class: 'btn btn-default' %></div><br>
  <% end %>

  <%= render "devise/shared/links" %>

</div><!--. devise-center -->
