<% if can? :create, Article %>
  <div class="admins">
    <h1 class="page-header" align="center">Admins</h1>

    <%= render partial: 'admins/search', locals: { q: '' } %>

    <table>
      <tr>
        <th class="admins-index-table-headlines">Name</th>
        <th class="admins-index-table-headlines">Email</th>
        <% if can? :create, User %>
          <th colspan="2">
            <%= link_to 'New Administrator', new_admin_path, class: 'btn btn-success' %>
          </th>
        <% end %>
      </tr>
      <% @admins.each do |admin| %>
        <tr>
          <td><%= link_to admin.name, admin_path(admin) %></td>
          <td><%= mail_to admin.email, admin.email %></td>
          <% if can? :manage, admin %>
            <td><%= link_to 'Edit', edit_admin_path(admin), class: 'btn btn-default' %></td>
            <td><%= link_to 'Delete', admin_path(admin) , class: 'btn btn-danger',
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div><!--. admins -->
<% else %>
  <h1 class="page-header" align="center">You are not authorized</h1>
<% end %>
