<% if current_user.has_role? :superadmin or current_user.has_role? :god %>
  <div class="admins">
    <h1 class="page-header" align="center">Admins</h1>

    <%= render partial: 'admins/search', locals: { q: '' } %>

    <table>
      <tr>
        <th class="admins-index-table-headlines">Name</th>
        <th class="admins-index-table-headlines">Email</th>
        <% if can? :create, User %>
          <th colspan="2">
            <%= link_to 'New Administrator', new_admin_path, class: 'btn btn-success' %>
          </th>
        <% end %>
      </tr>
      <% @admins.each do |admin| %>
        <tr>
          <td><%= link_to admin.name, admin_path(admin) %></td>
          <td><%= mail_to admin.email, admin.email %></td>
          <% if can? :manage, admin %>
            <td><%= link_to 'Edit', edit_admin_path(admin), class: 'btn btn-default' %></td>
            <td><%= link_to 'Delete', admin_path(admin) , class: 'btn btn-danger',
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div><!--. admins -->

  <div class="morph-button morph-button-sidebar morph-button-fixed">
    <button type="button"><span class="icon icon-cog">Settings Menu</span></button>
    <div class="morph-content">
      <div>
        <div class="content-style-sidebar">
          <span class="icon icon-close">Close the overlay</span>
          <h2>Settings</h2>
          <ul>
            <li><a class="icon icon-camera" href="#">Default filters</a></li>
            <li><a class="icon icon-server" href="#">Storage Use</a></li>
            <li><a class="icon icon-heart" href="#">Favorites</a></li>
            <li><a class="icon icon-zoom-in" href="#">Readability</a></li>
            <li><a class="icon icon-microphone" href="#">Speech</a></li>
            <li><a class="icon icon-cloud" href="#">Uploads</a></li>
            <li><a class="icon icon-user" href="#">Profile</a></li>
            <li><a class="icon icon-briefcase" href="#">Documents</a></li>
            <li><a class="icon icon-globe" href="#">Global Options</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div><!--  morph-button -->
  <script>
    (function() {
      var docElem = window.document.documentElement, didScroll, scrollPosition;

      // trick to prevent scrolling when opening/closing button
      function noScrollFn() {
        window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
      }

      function noScroll() {
        window.removeEventListener( 'scroll', scrollHandler );
        window.addEventListener( 'scroll', noScrollFn );
      }

      function scrollFn() {
        window.addEventListener( 'scroll', scrollHandler );
      }

      function canScroll() {
        window.removeEventListener( 'scroll', noScrollFn );
        scrollFn();
      }

      function scrollHandler() {
        if( !didScroll ) {
          didScroll = true;
          setTimeout( function() { scrollPage(); }, 60 );
        }
      };

      function scrollPage() {
        scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
        didScroll = false;
      };

      scrollFn();

      var el = document.querySelector( '.morph-button' );

      new UIMorphingButton( el, {
        closeEl : '.icon-close',
        onBeforeOpen : function() {
          // don't allow to scroll
          noScroll();
        },
        onAfterOpen : function() {
          // can scroll again
          canScroll();
          // add class "noscroll" to body
          classie.addClass( document.body, 'noscroll' );
          // add scroll class to main el
          classie.addClass( el, 'scroll' );
        },
        onBeforeClose : function() {
          // remove class "noscroll" to body
          classie.removeClass( document.body, 'noscroll' );
          // remove scroll class from main el
          classie.removeClass( el, 'scroll' );
          // don't allow to scroll
          noScroll();
        },
        onAfterClose : function() {
          // can scroll again
          canScroll();
        }
      } );
    })();
  </script>

<% else %>
  <h1 class="page-header" align="center">You are not authorized</h1>
<% end %>
