<h1 class="page-header"><%= @admin.name %></h1>

<dl>
  <dt>Email</dt>
  <dd><%= mail_to @admin.email, @admin.email %></dd>
</dl>

<% if can? :update, @admin %>
  <p><%= link_to 'back', admins_path(@admins), class: 'btn btn-default' %> &nbsp; <%= link_to 'Edit', edit_admin_path(@admin), class: 'btn btn-default' %></p>
  <p><%= link_to 'Delete', admin_path(@admin) , class: 'btn btn-danger',
  method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>
