<%= form_for([@article, @article.comments.build]) do |f| %>

  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter, value: current_user.name %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body, placeholder: '500 characters max' %>
  </p>
  <p>
    <%= f.submit class: 'btn btn-default' %>
  </p>

<% end %>
