<%= form_for @article do |f| %>

  <% if @article.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="articles-form-headers">
      <%= f.label :title %><br>
  </h3>
    <p>
      <%= f.text_field :title, placeholder: 'maximum: 25 characters' %>
    </p>

  <h3 class="articles-form-headers">
      <%= f.label :text %><br>
  </h3>
    <p>
      <%= f.text_area :text, class: "summernote", placeholder: 'maximum: 1,000,000 characters' %>
    </p>

    <h3>
      <%= f.submit class: 'btn btn-default' %>
    </h3>

    <h3>
      <%= link_to 'Cancel', articles_path, class: 'btn btn-danger' %>
    </h3>

<% end %>
