<%= form_for @article do |f| %>

  <% if @article.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h3>
    <%= f.label :title %><br>
</h3>
  <p>
    <%= f.text_field :title, placeholder: '8 characters max' %>
  </p>

<h3>
    <%= f.label :text %><br>
</h3>
  <p>
    <%= f.text_area :text, placeholder: '40 characters max' %>
  </p>

  <h3>
    <%= f.submit class: 'btn btn-default' %>
  </h3>

  <h3><%= link_to 'Back', articles_path, class: 'btn btn-primary' %></h3>

<% end %>
