<h1><%= current_user.first_name %> <%= current_user.last_name %></h1>

<h2 class="articles-index-sub-header">Articles</h2>

<% if can? :create, @article %>
  <h3>
    <%= link_to 'New article', new_article_path, class: 'btn btn-primary' %>
  </h3>
<% end %>

<% if @articles.present? %>
  <table>
    <tr>
      <th class="articles-index-table-headlines">Title</th>
      <th class="articles-index-table-headlines">Text</th>
      <th colspan="3"><%= (image_tag 'guitar.gif', class:'articles-header-pic-1') %></th>
    </tr>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td class="articles-index-lefty"><%= article.text %></td>
        <td><%= link_to 'Show', article_path(article), class: 'btn btn-default' %></td>
        <% if can? :manage, @articles %>
          <td><%= link_to 'Edit', edit_article_path(article), class: 'btn btn-default' %></td>
          <td><%= link_to 'Trash', article_path(article) , class: 'btn btn-default',
                          method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <h1 class="articles-index-nothing-yet-pic"><%= (image_tag 'guitar.gif') %></h1>
<% end %>
