<div class="articles">

  <h1 class="page-header" align="center">Articles</h1>

  <%= render partial: 'articles/search', locals: { q: '' } %>

  <% if @articles.present? %>

    <table>
      <tr>
        <th class="articles-index-table-headlines">Author</th>
        <th class="articles-index-table-headlines">Title</th>
        <!-- <th class="articles-index-table-headlines">Text</th> -->
        <th colspan="2">
          <% if can? :create, Article %>
            <%= link_to 'Create a New Article', new_article_path, class: 'btn btn-success' %>
          <% end %>
        </th>
      </tr>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.author %></td>
          <td><%= link_to article.title, article_path(article) %></td>
          <!-- <td><%= article.text %></td> -->
          <% if can? :manage, Article %>
            <td><%= link_to 'Edit', edit_article_path(article), class: 'btn btn-default' %></td>
            <td><%= link_to 'Delete', article_path(article) , class: 'btn btn-danger',
                            method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td></td>
            <td>
              <%= image_tag 'simpsons.png', class:"side-pic" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>

  <% else %>

    <h1><%= image_tag 'simpsons.png', class:"articles-index-nothing-yet-pic-1" %> <%= image_tag 'simpsons.png', class:"articles-index-nothing-yet-pic-2" %></h1>
    <% if can? :create, Article %>
      <h1 class="spinner">
        <%= link_to 'Create a New Article', new_article_path, class: 'btn btn-success' %>
      </h1><!--. spinner -->
    <% end %>

  <% end %>

</div><!--. articles -->
