<div class="articles">

  <h1 class="page-header" align="center">Articles</h1>

  <%= render partial: 'articles/search', locals: { q: '' } %>

  <% if @articles.present? %>

    <table>
      <tr>
        <th class="articles-index-table-headlines">Author</th>
        <th class="articles-index-table-headlines">Title</th>
        <!-- <th class="articles-index-table-headlines">Text</th> -->
        <th colspan="2">
          <% if can? :create, Article %>
            <%= link_to 'Create a New Article', new_article_path, class: 'btn btn-success' %>
          <% end %>
        </th>
      </tr>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.author %></td>
          <td><%= link_to article.title, article_path(article) %></td>
          <!-- <td><%= article.text %></td> -->
          <% if can? :manage, Article %>
            <td><%= link_to 'Edit', edit_article_path(article), class: 'btn btn-default' %></td>
            <td><%= link_to 'Delete', article_path(article) , class: 'btn btn-danger',
                            method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td></td>
            <td>
              <%= image_tag 'simpsons.png', class:"side-pic" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>


  <% else %>


    <h1><%= image_tag 'simpsons.png', class:"articles-index-nothing-yet-pic-1" %> <%= image_tag 'simpsons.png', class:"articles-index-nothing-yet-pic-2" %></h1>

    <% if can? :create, Article %>
      <h1 class="spinner">
        <%= link_to 'Create a New Article', new_article_path, class: 'btn btn-success' %>
      </h1><!--. spinner -->
    <% end %>

    <h2 class="page-header" align="left">Bubbles</h2>
    <div class="bubbles">
      <ul class="bubbles-list">
        <li><a href= "http://www.couriernewjersey.com/tony-php/tony.php" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
        <li><a href= "http://www.couriernewjersey.com/asbury-game-html5/asbury.html" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
        <li><a href= "https://github.com/CMBmaseda" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
        <li><a href= "http://www.couriernewjersey.com/tony-php/tony.php" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
        <li><a href= "http://www.couriernewjersey.com/asbury-game-html5/asbury.html" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
        <li><a href= "https://github.com/CMBmaseda" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
      </ul><!--. bubbles-list -->
    </div><!--. bubbles -->

    <h2 class="page-header" align="left">iHover</h2>

    <!-- Left to right-->
    <div class="row" align="center">
      <div class="col-sm-6">
        <!-- normal -->
        <div class="ih-item square effect11 left_to_right"><a href="#">
          <%= image_tag 'simpsons.png', class:"img" %>
          <div class="info">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
        <!-- end normal -->
      </div>
      <div class="col-sm-6">
        <!-- colored -->
        <div class="ih-item square colored effect11 left_to_right"><a href="#">
          <%= image_tag 'simpsons.png', class:"img" %>
          <div class="info">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
        <!-- end colored -->
      </div>
    </div><!-- End Row -->
    <!-- end Left to right-->
    <!-- Right to left-->
    <div class="row" align="center">
      <div class="col-sm-6">
        <!-- normal -->
        <div class="ih-item square effect11 right_to_left"><a href="#">
          <%= image_tag 'simpsons.png', class:"img" %>
          <div class="info">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
        <!-- end normal -->
      </div>
      <div class="col-sm-6">
        <!-- colored -->
        <div class="ih-item square colored effect11 right_to_left"><a href="#">
          <%= image_tag 'simpsons.png', class:"img" %>
          <div class="info">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
        <!-- end colored -->
      </div>
    </div><!-- End Row -->
    <!-- end Right to left-->
    <!-- Left to right-->
    <div class="row" align="center">
      <div class="col-sm-6">
        <!-- normal -->
        <div class="ih-item square effect11 top_to_bottom"><a href="#">
          <%= image_tag 'simpsons.png', class:"img" %>
          <div class="info">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
        <!-- end normal -->
      </div>
      <div class="col-sm-6">
        <!-- colored -->
        <div class="ih-item square colored effect11 top_to_bottom"><a href="#">
          <%= image_tag 'simpsons.png', class:"img" %>
          <div class="info">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
        <!-- end colored -->
      </div>
    </div><!-- End Row -->
    <!-- end Left to right-->
    <!-- Right to left-->
    <div class="row" align="center">
      <div class="col-sm-6">
        <!-- normal -->
        <div class="ih-item square effect11 bottom_to_top"><a href="#">
          <%= image_tag 'simpsons.png', class:"img" %>
          <div class="info">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
        <!-- end normal -->
      </div>
      <div class="col-sm-6">
        <!-- colored -->
        <div class="ih-item square colored effect11 bottom_to_top"><a href="#">
          <%= image_tag 'simpsons.png', class:"img" %>
          <div class="info">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
        <!-- end colored -->
      </div>
    </div><!-- End Row -->
    <!-- end Right to left-->


  <% end %>

</div><!--. articles -->
