<div class="articles">

  <h1 class="page-header" align="center">Articles</h1>

  <%= render partial: 'articles/search', locals: { q: '' } %>

  <% if @articles.present? %>

    <table>
      <tr>
        <th class="articles-index-table-headlines">Author</th>
        <th class="articles-index-table-headlines">Title</th>
        <!-- <th class="articles-index-table-headlines">Text</th> -->
        <th colspan="2">
          <% if can? :create, Article %>
            <%= link_to 'Create a New Article', new_article_path, class: 'btn btn-success' %>
          <% end %>
        </th>
      </tr>
      <% @articles.each do |article| %>
        <tr>
          <td><%= link_to article.user.name, article.user %></td>
          <td><%= link_to article.title, article_path(article) %></td>
          <!-- <td><%= article.text %></td> -->
          <% if can? :manage, Article %>
            <td><%= link_to 'Edit', edit_article_path(article), class: 'btn btn-default' %></td>
            <td><%= link_to 'Delete', article_path(article) , class: 'btn btn-danger',
                            method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td></td>
            <td>
              <%= link_to image_tag(article.user.avatar.thumb.url, class: 'side-pic'), article_path(article)  %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>


  <% else %>


    <h1><%= image_tag 'simpsons.png', class:"articles-index-nothing-yet-pic-1" %> <%= image_tag 'simpsons.png', class:"articles-index-nothing-yet-pic-2" %></h1>

    <% if can? :create, Article %>
      <h1 class="spinner">
        <%= link_to 'Create a New Article', new_article_path, class: 'btn btn-success' %>
      </h1><!--. spinner -->
    <% end %>

    <h2 class="page-header" align="left">Bubbles</h2>
    <div class="bubbles">
      <ul class="bubbles-list">
        <li><a href= "http://www.couriernewjersey.com/tony-php/tony.php" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
        <li><a href= "http://www.couriernewjersey.com/asbury-game-html5/asbury.html" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
        <li><a href= "https://github.com/CMBmaseda" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
        <li><a href= "http://www.couriernewjersey.com/tony-php/tony.php" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
        <li><a href= "http://www.couriernewjersey.com/asbury-game-html5/asbury.html" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
        <li><a href= "https://github.com/CMBmaseda" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
      </ul><!--. bubbles-list -->
    </div><!--. bubbles -->

    <h2 class="page-header" align="left">iHover</h2>

    <!-- Left to right-->
    <div class="row" align="center">
      <div class="col-sm-6">
        <!-- normal -->
        <div class="ih-item square effect11 left_to_right"><a href="#">
          <%= image_tag 'simpsons.png', class:"img" %>
          <div class="info">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
        <!-- end normal -->
      </div>
      <div class="col-sm-6">
        <!-- colored -->
        <div class="ih-item square colored effect11 left_to_right"><a href="#">
          <%= image_tag 'simpsons.png', class:"img" %>
          <div class="info">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
        <!-- end colored -->
      </div>
    </div><!-- End Row -->
    <!-- end Left to right-->
    <!-- Right to left-->
    <div class="row" align="center">
      <div class="col-sm-6">
        <!-- normal -->
        <div class="ih-item square effect11 right_to_left"><a href="#">
          <%= image_tag 'simpsons.png', class:"img" %>
          <div class="info">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
        <!-- end normal -->
      </div>
      <div class="col-sm-6">
        <!-- colored -->
        <div class="ih-item square colored effect11 right_to_left"><a href="#">
          <%= image_tag 'simpsons.png', class:"img" %>
          <div class="info">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
        <!-- end colored -->
      </div>
    </div><!-- End Row -->
    <!-- end Right to left-->
    <!-- Left to right-->
    <div class="row" align="center">
      <div class="col-sm-6">
        <!-- normal -->
        <div class="ih-item square effect11 top_to_bottom"><a href="#">
          <%= image_tag 'simpsons.png', class:"img" %>
          <div class="info">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
        <!-- end normal -->
      </div>
      <div class="col-sm-6">
        <!-- colored -->
        <div class="ih-item square colored effect11 top_to_bottom"><a href="#">
          <%= image_tag 'simpsons.png', class:"img" %>
          <div class="info">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
        <!-- end colored -->
      </div>
    </div><!-- End Row -->
    <!-- end Left to right-->
    <!-- Right to left-->
    <div class="row" align="center">
      <div class="col-sm-6">
        <!-- normal -->
        <div class="ih-item square effect11 bottom_to_top"><a href="#">
          <%= image_tag 'simpsons.png', class:"img" %>
          <div class="info">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
        <!-- end normal -->
      </div>
      <div class="col-sm-6">
        <!-- colored -->
        <div class="ih-item square colored effect11 bottom_to_top"><a href="#">
          <%= image_tag 'simpsons.png', class:"img" %>
          <div class="info">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div></a>
        </div>
        <!-- end colored -->
      </div>
    </div><!-- End Row -->
    <!-- end Right to left-->


  <% end %>

</div><!--. articles -->

<div class="morph-button morph-button-sidebar morph-button-fixed">
  <button type="button"><span class="icon icon-cog">Settings Menu</span></button>
  <div class="morph-content">
    <div>
      <div class="content-style-sidebar">
        <span class="icon icon-close">Close the overlay</span>
        <h2>Style Maker</h2>
        <ul>
          <li><a class="icon icon-server" href="http://www.w3schools.com/tags/ref_colorpicker.asp" target="_blank">HEX Colors</a></li>
          <li><a class="icon icon-heart" href="http://www.css3maker.com/css-3-rgba.html" target="_blank">RGBA Colors</a></li>
          <li><a class="icon icon-zoom-in" href="http://www.css3maker.com/css-gradient.html" target="_blank">Gradient</a></li>
          <li><a class="icon icon-microphone" href="http://www.css3maker.com/border-radius.html" target="_blank">Border Radius</a></li>
          <li><a class="icon icon-cloud" href="http://www.css3maker.com/text-shadow.html" target="_blank">Text Shadow</a></li>
          <li><a class="icon icon-user" href="http://www.css3maker.com/box-shadow.html" target="_blank">Box Shadow</a></li>
          <li><a class="icon icon-briefcase" href="http://www.css3maker.com/css3-transform.html" target="_blank">Transform</a></li>
          <li><a class="icon icon-globe" href="http://www.css3maker.com/css3-transition.html" target="_blank">Transition</a></li>
          <li><a class="icon icon-camera" href="http://www.css3maker.com/css3-animation.html" target="_blank">Animation</a></li>
        </ul>
      </div>
    </div>
  </div>
</div><!-- morph-button -->
<script>
  (function() {
    var docElem = window.document.documentElement, didScroll, scrollPosition;

    // trick to prevent scrolling when opening/closing button
    function noScrollFn() {
      window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
    }

    function noScroll() {
      window.removeEventListener( 'scroll', scrollHandler );
      window.addEventListener( 'scroll', noScrollFn );
    }

    function scrollFn() {
      window.addEventListener( 'scroll', scrollHandler );
    }

    function canScroll() {
      window.removeEventListener( 'scroll', noScrollFn );
      scrollFn();
    }

    function scrollHandler() {
      if( !didScroll ) {
        didScroll = true;
        setTimeout( function() { scrollPage(); }, 60 );
      }
    };

    function scrollPage() {
      scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
      didScroll = false;
    };

    scrollFn();

    var el = document.querySelector( '.morph-button' );

    new UIMorphingButton( el, {
      closeEl : '.icon-close',
      onBeforeOpen : function() {
        // don't allow to scroll
        noScroll();
      },
      onAfterOpen : function() {
        // can scroll again
        canScroll();
        // add class "noscroll" to body
        classie.addClass( document.body, 'noscroll' );
        // add scroll class to main el
        classie.addClass( el, 'scroll' );
      },
      onBeforeClose : function() {
        // remove class "noscroll" to body
        classie.removeClass( document.body, 'noscroll' );
        // remove scroll class from main el
        classie.removeClass( el, 'scroll' );
        // don't allow to scroll
        noScroll();
      },
      onAfterClose : function() {
        // can scroll again
        canScroll();
      }
    } );
  })();
</script>
