<div class="articles">

  <h1 class="page-header" align="center">Articles</h1>

  <%= render partial: 'articles/search', locals: { q: '' } %>

  <% if @articles.present? %>

    <table>
      <tr>
        <th class="articles-index-table-headlines">Author</th>
        <th class="articles-index-table-headlines"><%= sortable "title", "Title" %></th>
        <!-- <th class="articles-index-table-headlines">Text</th> -->
        <th colspan="2">
          <% if can? :create, Article %>
            <%= link_to 'Create a New Article', new_article_path, class: 'btn btn-success' %>
          <% end %>
        </th>
      </tr>
      <% @articles.each do |article| %>
        <tr>
          <td align="left"><%= link_to image_tag(article.user.avatar.small_thumb.url, class: 'side-pic'), article.user  %> &nbsp; <%= link_to article.user.name, article.user %></td>
          <td><%= link_to article.title, article_path(article) %></td>
          <!-- <td><%= article.text %></td> -->
          <% if current_user.has_role? :god or current_user == article.user %>
            <td><%= link_to 'Edit', edit_article_path(article), class: 'btn btn-default' %></td>
            <td><%= link_to 'Delete', article_path(article) , class: 'btn btn-danger',
                            method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td></td>
            <td>
              <div class="ih-item circle effect20 top_to_bottom">
                <a href="#">
                  <%= image_tag article.poster.thumb.url, class: 'img' %>
                  <div class="info">
                    <div class="info-back">
                      <h3><%= image_tag article.poster.thumb.url, class: 'ih-item square' %></h3>
                    </div><!-- .info-back -->
                  </div><!-- .info -->
                </a>
              </div><!-- .ih-item circle effect18 top_to_bottom -->
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <div class="pagination"><%= will_paginate @articles %></div>

  <% else %>


    <h1><%= image_tag 'simpsons.png', class:"articles-index-nothing-yet-pic-1" %> <%= image_tag 'simpsons.png', class:"articles-index-nothing-yet-pic-2" %></h1>

    <% if can? :create, Article %>
      <h1 class="spinner">
        <%= link_to 'Create a New Article', new_article_path, class: 'btn btn-success' %>
      </h1><!--. spinner -->
    <% end %>


  <% end %>

</div><!--. articles -->
