<h3>
  <strong>Title:</strong>
  <%= @article.title %>
</h3>
 
<h3>
  <strong>Text:</strong>
  <%= @article.text %>
</h3>
 
<h4>Comments</h4>
<%= render @article.comments %>
 
<h4>Add a comment:</h4>

<%= render "comments/form" %>
 
<%= link_to 'Edit Article', edit_article_path(@article) %> | <%= link_to 'Back to Articles', articles_path %>
