<div class="admins">
  <h1 class="page-header"><%= @superadmin.name %></h1>

  <h2 class="page-header"><%= mail_to @superadmin.email, @superadmin.email %></h2>

  <% if can? :update, @superadmin %>
  <p><%= link_to 'back', admins_path(@superadmins), class: 'btn btn-default' %> &nbsp; <%= link_to 'Edit', edit_superadmin_path(@superadmin), class: 'btn btn-default' %> &nbsp; <%= link_to 'Delete', superadmin_path(@superadmin) , class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
</div><!--. admins -->
