<% if current_user.has_role? :god %>


  <div class="admins">

    <h1 class="page-header"><%= @superadmin.name %></h1>

    <h2 class="page-header"><%= mail_to @superadmin.email, @superadmin.email %></h2>

    <div class="ih-item circle effect11 top_to_bottom"><a href="#">
      <%= image_tag @superadmin.avatar.thumb.url, class: 'img' %>
      <div class="info">
        <div class="info-back">
          <h3><%= image_tag @superadmin.avatar.thumb.url, class: 'ih-item square effect15 top_to_bottom' %></h3>
        </div><!-- .info-back -->
      </div><!-- .info --></a>
    </div><!-- .ih-item circle effect18 top_to_bottom -->

    <div class="articles-show-lefty">
      <%= raw(@superadmin.biography) %>
    </div>

    <% if can? :update, @superadmin %>
    <p><%= link_to 'back', superadmins_path(@superadmins), class: 'btn btn-default' %> &nbsp; <%= link_to 'Edit', edit_superadmin_path(@superadmin), class: 'btn btn-default' %> &nbsp; <%= link_to 'Delete', superadmin_path(@superadmin) , class: 'btn btn-danger',
      method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  </div><!--. admins -->

  <h2 class="page-header" align="left">Articles</h2>
  <table>
    <% @superadmin.articles.each do |article| %>
      <tr>
        <td><%= link_to image_tag(article.poster.small_thumb.url, class: 'side-pic'), article_path(article)  %> &nbsp; <%= link_to article.title, article_path(article) %></td>
          <td><%= link_to 'Edit', edit_article_path(article), class: 'btn btn-default' %></td>
          <td><%= link_to 'Delete', article_path(article) , class: 'btn btn-danger',
                          method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>


<% else %>


  <h1 class="page-header" align="center">You are not authorized</h1>

  <p align="center">Only the system admin can view and edit super admins.</p>


<% end %>
