<%= form_for @user, url: action do |f| %>

<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <h3>
    <%= f.label :avatar %>
  </h3>
  <p>
    <%= f.label :avatar %>
    <%= image_tag(@user.avatar.thumb.url) if @user.avatar? %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
    <%= f.label :remove_avatar do %>
      <%= f.check_box :remove_avatar %> Remove Avatar
    <% end %>
  </p>

  <h3>
    <%= f.label :first_name %>
  </h3>
  <p>
    <%= f.text_field :first_name %>
  </p>

  <h3>
    <%= f.label :last_name %>
  </h3>
  <p>
    <%= f.text_field :last_name %>
  </p>

  <h3>
    <%= f.label :email %>
  </h3>
  <p>
    <%= f.email_field :email %>
  </p>

  <h3>
    <%= f.label :password %>
  </h3>
  <p>
    <%= f.password_field :password %>
  </p>

  <h3 class="articles-form-headers">
      <%= f.label :biography %><br>
  </h3>
  <p>
    <%= f.text_area :biography, class: "summernote", placeholder: 'maximum: 1,000,000' %>
  </p>

  <h3>
    <%= f.submit class: 'btn btn-default' %>
  </h3>
  <h3>
    <%= link_to 'Cancel', users_path, class: 'btn btn-danger' %>
  </h3>

<% end %>
