<h1 class="page-header" align="center">Users</h1>

<div align="center">
  <%= render partial: 'users/search', locals: { q: '' } %>
</div>

<table>
  <tr>
    <th class="admins-index-table-headlines">Name</th>
    <th class="admins-index-table-headlines">Email</th>
    <th colspan="2"></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <% if user.has_role? :admin or user.has_role? :superadmin or user.has_role? :god %>
      <% else %>
        <td><%= link_to image_tag(user.avatar.small_thumb.url, class: 'side-pic'), user  %> &nbsp; <%= link_to user.name, user_path(user) %></td>
        <td><%= mail_to user.email, user.email %></td>
        <% if can? :manage, :all %>
          <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-default' %></td>
          <td><%= link_to 'Delete', user_path(user) , class: 'btn btn-danger',
                  method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td></td>
          <td>
            <div class="ih-item circle effect11 top_to_bottom"><a href="#">
              <%= image_tag user.avatar.thumb.url, class: 'img' %>
              <div class="info">
                <div class="info-back">
                  <h3><%= image_tag user.avatar.thumb.url, class: 'ih-item square effect15 top_to_bottom' %></h3>
                </div><!-- .info-back -->
              </div><!-- .info --></a>
            </div><!-- .ih-item circle effect18 top_to_bottom -->
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<div class="pagination"><%= will_paginate @users %></div>

<div class="morph-button morph-button-sidebar morph-button-fixed">
  <button type="button"><span class="icon icon-cog">Settings Menu</span></button>
  <div class="morph-content">
    <div>
      <div class="content-style-sidebar">
        <span class="icon icon-close">Close the overlay</span>
        <h2>Style Maker</h2>
        <ul>
          <li><a class="icon icon-server" href="http://www.w3schools.com/tags/ref_colorpicker.asp" target="_blank">HEX Colors</a></li>
          <li><a class="icon icon-heart" href="http://www.css3maker.com/css-3-rgba.html" target="_blank">RGBA Colors</a></li>
          <li><a class="icon icon-zoom-in" href="http://www.css3maker.com/css-gradient.html" target="_blank">Gradient</a></li>
          <li><a class="icon icon-microphone" href="http://www.css3maker.com/border-radius.html" target="_blank">Border Radius</a></li>
          <li><a class="icon icon-cloud" href="http://www.css3maker.com/text-shadow.html" target="_blank">Text Shadow</a></li>
          <li><a class="icon icon-user" href="http://www.css3maker.com/box-shadow.html" target="_blank">Box Shadow</a></li>
          <li><a class="icon icon-briefcase" href="http://www.css3maker.com/css3-transform.html" target="_blank">Transform</a></li>
          <li><a class="icon icon-globe" href="http://www.css3maker.com/css3-transition.html" target="_blank">Transition</a></li>
          <li><a class="icon icon-camera" href="http://www.css3maker.com/css3-animation.html" target="_blank">Animation</a></li>
        </ul>
      </div>
    </div>
  </div>
</div><!--  morph-button -->
<script>
(function() {
  var docElem = window.document.documentElement, didScroll, scrollPosition;

  // trick to prevent scrolling when opening/closing button
  function noScrollFn() {
    window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
  }

  function noScroll() {
    window.removeEventListener( 'scroll', scrollHandler );
    window.addEventListener( 'scroll', noScrollFn );
  }

  function scrollFn() {
    window.addEventListener( 'scroll', scrollHandler );
  }

  function canScroll() {
    window.removeEventListener( 'scroll', noScrollFn );
    scrollFn();
  }

  function scrollHandler() {
    if( !didScroll ) {
      didScroll = true;
      setTimeout( function() { scrollPage(); }, 60 );
    }
  };

  function scrollPage() {
    scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
    didScroll = false;
  };

  scrollFn();

  var el = document.querySelector( '.morph-button' );

  new UIMorphingButton( el, {
    closeEl : '.icon-close',
    onBeforeOpen : function() {
      // don't allow to scroll
      noScroll();
    },
    onAfterOpen : function() {
      // can scroll again
      canScroll();
      // add class "noscroll" to body
      classie.addClass( document.body, 'noscroll' );
      // add scroll class to main el
      classie.addClass( el, 'scroll' );
    },
    onBeforeClose : function() {
      // remove class "noscroll" to body
      classie.removeClass( document.body, 'noscroll' );
      // remove scroll class from main el
      classie.removeClass( el, 'scroll' );
      // don't allow to scroll
      noScroll();
    },
    onAfterClose : function() {
      // can scroll again
      canScroll();
    }
  } );
})();
</script>
