<h1 class="page-header" align="center">Users</h1>

<div align="center">
  <%= render partial: 'users/search', locals: { q: '' } %>
</div>

<table>
  <tr>
    <th class="admins-index-table-headlines"><%= sortable "last_name", "Name" %></th>
    <th class="admins-index-table-headlines"><%= sortable "email", "Email" %></th>
    <th colspan="2"></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <% if user.has_role? :admin or user.has_role? :superadmin or user.has_role? :god %>
      <% else %>
        <td align="left"><%= link_to image_tag(user.avatar.small_thumb.url, class: 'side-pic'), user  %> &nbsp; <%= link_to user.name, user_path(user) %></td>
        <td><%= mail_to user.email, user.email %></td>
        <% if can? :manage, :all %>
          <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-default' %></td>
          <td><%= link_to 'Delete', user_path(user) , class: 'btn btn-danger',
                  method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td></td>
          <td>
            <div class="ih-item circle effect20 top_to_bottom">
              <a href="#">
                <%= image_tag user.avatar.thumb.url, class: 'img' %>
                <div class="info">
                  <div class="info-back">
                    <h3><%= image_tag user.avatar.thumb.url, class: 'ih-item square' %></h3>
                  </div><!-- .info-back -->
                </div><!-- .info -->
              </a>
            </div><!-- .ih-item circle effect18 top_to_bottom -->
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<div class="pagination"><%= will_paginate @users %></div>
