<div class="admins">

  <br>
  <%= render partial: 'users/search', locals: { q: @query } %>

  <table>
    <thead>
      <tr>
        <th><h1 class="page-header" align="center">Search results for:<br> "<%= @query %>"</h1></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <% if user.has_role? :admin or user.has_role? :superadmin or user.has_role? :god %>
        <% else %>
        <td><%= link_to image_tag(user.avatar.small_thumb.url, class: 'side-pic'), user_path(user)  %> &nbsp; <%= link_to user.name, user_path(user) %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination"><%= will_paginate @users %></div>

</div><!--. admins -->
