<% if current_user.has_role? :god %>

  <h1 class="page-header" align="center">Rails Blog</h1>

  <h2 class="page-header">Articles</h2>
  <div class="articles">
    <%= render partial: 'articles/search', locals: { q: '' } %>
  </div>
  <table>
    <tr>
      <th class="articles-index-table-headlines">Author</th>
      <th class="articles-index-table-headlines">Title</th>
      <th colspan="2">
        <%= link_to 'Create a New Article', new_article_path, class: 'btn btn-success' %>
      </th>
    </tr>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.author %></td>
        <td><%= link_to article.title, article_path(article) %></td>
        <td><%= link_to 'Edit', edit_article_path(article), class: 'btn btn-default' %></td>
        <td><%= link_to 'Delete', article_path(article) , class: 'btn btn-danger',
        method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <h2 class="page-header">Super Admins</h2>
  <div class="admins">
    <%= render partial: 'superadmins/search', locals: { q: '' } %>
  </div>
  <table>
    <tr>
      <th class="admins-index-table-headlines">Name</th>
      <th class="admins-index-table-headlines">Email</th>
      <th colspan="2">
        <%= link_to 'New Super Admins', new_superadmin_path, class: 'btn btn-success' %>
      </th>
    </tr>
    <% @superadmins.each do |superadmin| %>
      <tr>
        <td><%= link_to superadmin.name, superadmin_path(superadmin) %></td>
        <td><%= mail_to superadmin.email, superadmin.email %></td>
        <td><%= link_to 'Edit', edit_superadmin_path(superadmin), class: 'btn btn-default' %></td>
        <td><%= link_to 'Delete', superadmin_path(superadmin) , class: 'btn btn-danger',
        method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <h2 class="page-header">Admins</h2>
  <div class="admins">
    <%= render partial: 'admins/search', locals: { q: '' } %>
  </div>
  <table>
    <tr>
      <th class="admins-index-table-headlines">Name</th>
      <th class="admins-index-table-headlines">Email</th>
      <th colspan="2">
        <%= link_to 'New Administrator', new_admin_path, class: 'btn btn-success' %>
      </th>
    </tr>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= link_to admin.name, admin_path(admin) %></td>
        <td><%= mail_to admin.email, admin.email %></td>
        <td><%= link_to 'Edit', edit_admin_path(admin), class: 'btn btn-default' %></td>
        <td><%= link_to 'Delete', admin_path(admin) , class: 'btn btn-danger',
        method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <h2 class="page-header">Users</h2>
  <table>
    <tr>
      <th class="admins-index-table-headlines">Name</th>
      <th class="admins-index-table-headlines">Email</th>
      <th class="admins-index-table-headlines">Terminate</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <% if user.has_role? :admin or user.has_role? :superadmin or user.has_role? :god %>
        <% else %>
          <td><%= user.name %></td>
          <td><%= mail_to user.email, user.email %></td>
          <td><%= link_to 'Delete', admin_path(user) , class: 'btn btn-danger',
          method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>


<% elsif current_user.has_role? :superadmin %>


  <h1 class="page-header" align="center">Rails Blog</h1>

  <h2 class="page-header">Users</h2>
  <table>
    <tr>
      <th class="admins-index-table-headlines">Name</th>
      <th class="admins-index-table-headlines">Email</th>
      <th class="admins-index-table-headlines">Terminate</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <% if user.has_role? :admin or user.has_role? :superadmin or user.has_role? :god %>
      <% else %>
      <td><%= user.name %></td>
      <td><%= mail_to user.email, user.email %></td>
      <td><%= link_to 'Delete', admin_path(user) , class: 'btn btn-danger',
      method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </table>


<% else %>


  <h1 class="page-header" align="center">Rails Blog</h1>

  <div class="articles">
    <%= render partial: 'articles/search', locals: { q: '' } %>
  </div>

  <%= link_to (image_tag 'simpsons.png', class:'welcome-pic-1'), controller: 'articles' %>

  <p>
    Scientific pitch notation is a logarithmic frequency scale. The octave number increases by 1 upon an ascension from B to C (and not from G to A, as one might expect). Thus "A4" refers to the first A above C4 (middle C). As another example, in ascending the white keys on a keyboard, C4 immediately follows B3, as in the following sequence: "C3 D3 E3 F3 G3 A3 B3 C4 D4". Scientific pitch notation is often used to specify the range of an instrument. It provides an unambiguous means of identifying a note in terms of musical notation rather than frequency, while at the same time avoiding the transposition conventions that are used in writing the music for instruments such as the clarinet and guitar. The conventional octave naming system — where for example C0 is written as ′′C, or C, or CCC in Helmholtz pitch notation, or referred to as subcontra C, and where C4 is written as c′ or one-lined C — applies to the written notes that may or may not be transposed. For example, a d′ played on a B♭ trumpet is actually a C4 in scientific pitch notation. Although pitch notation is intended to describe audible sounds, it can also be used to specify the frequency of non-audible phenomena. <a href="http://www.couriernewjersey.com/asbury-game-html5/asbury.html" target="_blank">HTML5 Game</a>
  </p>

  <iframe title="YouTube video player" class="welcome-vid-1" src="https://www.youtube.com/embed/JHu46QznBI4?rel=0" frameborder="0" allowfullscreen></iframe>

  <h2 class="page-header">iHover</h2>

  <!-- BEGIN EFFECT 18 -->
  <div class="row" align="center">
    <div class="col-sm-6">
      <!-- normal -->
      <div class="ih-item circle effect18 bottom_to_top"><a href="#">
        <%= image_tag 'simpsons.png', class:"img" %>
        <div class="info">
          <div class="info-back">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div>
        </div></a>
      </div>
      <!-- end normal -->
    </div>
    <div class="col-sm-6">
      <!-- colored -->
      <div class="ih-item circle colored effect18 bottom_to_top"><a href="#">
        <%= image_tag 'simpsons.png', class:"img" %>
        <div class="info">
          <div class="info-back">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div>
        </div></a>
      </div>
      <!-- end colored-->
    </div>
  </div><!-- end row-->
  <!-- end Bottom to top -->
  <!-- Left to right -->
  <div class="row" align="center">
    <div class="col-sm-6">
      <!-- normal -->
      <div class="ih-item circle effect18 left_to_right"><a href="#">
        <%= image_tag 'simpsons.png', class:"img" %>
        <div class="info">
          <div class="info-back">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div>
        </div></a>
      </div>
      <!-- end normal -->
    </div>
    <div class="col-sm-6">
      <!-- colored -->
      <div class="ih-item circle colored effect18 left_to_right"><a href="#">
        <%= image_tag 'simpsons.png', class:"img" %>
        <div class="info">
          <div class="info-back">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div>
        </div></a>
      </div>
      <!-- end colored-->
    </div>
  </div><!-- end row-->
  <!-- end Left to right -->
  <!-- Right to left  -->
  <div class="row" align="center">
    <div class="col-sm-6">
      <!-- normal -->
      <div class="ih-item circle effect18 right_to_left"><a href="#">
        <%= image_tag 'simpsons.png', class:"img" %>
        <div class="info">
          <div class="info-back">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div>
        </div></a>
      </div>
      <!-- end normal -->
    </div>
    <div class="col-sm-6">
      <!-- colored -->
      <div class="ih-item circle colored effect18 right_to_left"><a href="#">
        <%= image_tag 'simpsons.png', class:"img" %>
        <div class="info">
          <div class="info-back">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div>
        </div></a>
      </div>
      <!-- end colored-->
    </div>
  </div><!-- end row-->
  <!-- end Right to left  -->
  <!-- Top to bottom -->
  <div class="row" align="center">
    <div class="col-sm-6">
      <!-- normal -->
      <div class="ih-item circle effect18 top_to_bottom"><a href="#">
        <%= image_tag 'simpsons.png', class:"img" %>
        <div class="info">
          <div class="info-back">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div>
        </div></a>
      </div>
      <!-- end normal -->
    </div>
    <div class="col-sm-6">
      <!-- colored -->
      <div class="ih-item circle colored effect18 top_to_bottom"><a href="#">
        <%= image_tag 'simpsons.png', class:"img" %>
        <div class="info">
          <div class="info-back">
            <h3>Heading here</h3>
            <p>Description goes here</p>
          </div>
        </div></a>
      </div>
      <!-- end colored-->
    </div>
  </div><!-- end row-->
  <!-- end Top to bottom -->
  <!-- END EFFECT 18 -->


<% end %>

<div class="morph-button morph-button-sidebar morph-button-fixed">
  <button type="button"><span class="icon icon-cog">Settings Menu</span></button>
  <div class="morph-content">
    <div>
      <div class="content-style-sidebar">
        <span class="icon icon-close">Close the overlay</span>
        <h2>Style Maker</h2>
        <ul>
          <li><%= link_to 'RGBA', colors_path, class: 'icon icon-camera' %></li>
          <li><a class="icon icon-server" href="#">Storage Use</a></li>
          <li><a class="icon icon-heart" href="#">Favorites</a></li>
          <li><a class="icon icon-zoom-in" href="#">Readability</a></li>
          <li><a class="icon icon-microphone" href="#">Speech</a></li>
          <li><a class="icon icon-cloud" href="#">Uploads</a></li>
          <li><a class="icon icon-user" href="#">Profile</a></li>
          <li><a class="icon icon-briefcase" href="#">Documents</a></li>
          <li><a class="icon icon-globe" href="#">Global Options</a></li>
        </ul>
      </div>
    </div>
  </div>
</div><!--  morph-button -->
<script>
  (function() {
    var docElem = window.document.documentElement, didScroll, scrollPosition;

    // trick to prevent scrolling when opening/closing button
    function noScrollFn() {
      window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
    }

    function noScroll() {
      window.removeEventListener( 'scroll', scrollHandler );
      window.addEventListener( 'scroll', noScrollFn );
    }

    function scrollFn() {
      window.addEventListener( 'scroll', scrollHandler );
    }

    function canScroll() {
      window.removeEventListener( 'scroll', noScrollFn );
      scrollFn();
    }

    function scrollHandler() {
      if( !didScroll ) {
        didScroll = true;
        setTimeout( function() { scrollPage(); }, 60 );
      }
    };

    function scrollPage() {
      scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
      didScroll = false;
    };

    scrollFn();

    var el = document.querySelector( '.morph-button' );

    new UIMorphingButton( el, {
      closeEl : '.icon-close',
      onBeforeOpen : function() {
        // don't allow to scroll
        noScroll();
      },
      onAfterOpen : function() {
        // can scroll again
        canScroll();
        // add class "noscroll" to body
        classie.addClass( document.body, 'noscroll' );
        // add scroll class to main el
        classie.addClass( el, 'scroll' );
      },
      onBeforeClose : function() {
        // remove class "noscroll" to body
        classie.removeClass( document.body, 'noscroll' );
        // remove scroll class from main el
        classie.removeClass( el, 'scroll' );
        // don't allow to scroll
        noScroll();
      },
      onAfterClose : function() {
        // can scroll again
        canScroll();
      }
    } );
  })();
</script>
