<div class="welcome">

  <div>
    <%= link_to (image_tag 'simpsons.png', class:'welcome-pic-1'), controller: 'articles' %>
    <p>
      Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Ykbkvb bvkbak bkvaknk akbksa kakk fkak akfabk bakbk akbka akak khhg. Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Ykbkvb bvkbak bkvaknk akbksa kakk fkak akfabk bakbk akbka akak khhg. Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Ykbkvb bvkbak bkvaknk akbksa kakk fkak akfabk bakbk akbka akak khhg. Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Ykbkvb bvkbak bkvaknk akbksa kakk fkak akfabk bakbk akbka akak khhg. Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Ykbkvb bvkbak bkvaknk akbksa kakk fkak akfabk bakbk akbka akak khhg. Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Ykbkvb bvkbak nk akbksa kakk fkak akfabk bakbk akbka akak khhg. Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Ykbkvb bvkbak nk akbksa kakk fkak akfabk bakbk akbka akak khhg. Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Ykbkvb bvkbak nk akbksa kakk fkak akfabk bakbk akbka akak khhg. Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Ykbkvb bvkbak nk akbksa kakk fkak akfabk bakbk akbka akak khhg. Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Fvgjg dgd vnvhguu fvn mkjh hjgf dfder swaj njhbg. Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Fvgjg dgd vnvhguu fvn mkjh hjgf dfder swaj njhbg. Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Fvgjg dgd vnvhguu fvn mkjh hjgf dfder swaj njhbg. Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Fvgjg dgd vnvhg hjgf dfder swaj njhbg.
    </p>
  </div>

  <div>
    <iframe title="YouTube video player" src="https://www.youtube.com/embed/a2ClgGJayTs?rel=0" class='welcome-vid-1' frameborder="0" allowfullscreen></iframe>
    <h2>Bubbles</h2>
  </div>

  <div class="bubbles">
    <ul class="bubbles-list">
      <li><a href= "http://www.couriernewjersey.com/tony-php/tony.php" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
      <li><a href= "http://www.couriernewjersey.com/tony-php/tony.php" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
      <li><a href= "http://www.couriernewjersey.com/tony-php/tony.php" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
      <li><a href= "http://www.couriernewjersey.com/tony-php/tony.php" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
      <li><a href= "http://www.couriernewjersey.com/tony-php/tony.php" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
      <li><a href= "http://www.couriernewjersey.com/tony-php/tony.php" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
    </ul><!--. bubbles-list -->
    <p>
      Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Ykbkvb bvkbak bkvaknk akbksa kakk fkak akfabk bakbk akk khhg. Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Ykbkvb bvkbak nk akbksa kakk fkak akfabk bakbk akbka akak khhg. Qthakrh kj knrgkskn fknfkna kbkna. Ykbkvb bvkbak bkknk akbksa kakk fkak akfabk bakbk akbka akak khhg. Qthakrh kggnak knrgkskn fknfkna kbkna. Ykbb bvkbak bkvaknk akbksa kakk fkak akfabk bakbk akbka akak khhg. Qthakrh kgnkgkgnak knrgkskn fknfkna kbkna. Ykbkvb bvkbak bkvaknk akbksa kakk fkak akfabk bakbk akbka akak khhg.
    </p>
  </div><!--. bubbles -->

</div><!--. welcome -->
