<br>
<%= link_to (image_tag 'simpsons.png', class:'welcome-pic-1'), controller: 'articles' %>
<br>
<iframe title="YouTube video player" src="https://www.youtube.com/embed/a2ClgGJayTs?rel=0" class='welcome-vid-1' frameborder="0" allowfullscreen></iframe>
<br>
<div class="bubbles">
  <ul class="bubbles-list">
    <li><a href= "http://www.couriernewjersey.com/tony-php/tony.php" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
    <li><a href= "http://www.couriernewjersey.com/tony-php/tony.php" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
    <li><a href= "http://www.couriernewjersey.com/tony-php/tony.php" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
    <li><a href= "http://www.couriernewjersey.com/tony-php/tony.php" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
    <li><a href= "http://www.couriernewjersey.com/tony-php/tony.php" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
    <li><a href= "http://www.couriernewjersey.com/tony-php/tony.php" target="_blank"><%= image_tag 'simpsons.png', class:'welcome-pic-1' %></a></li>
  </ul><!--. bubbles-list -->
</div><!--. bubbles -->
