<!DOCTYPE html>
<html>
<head>

  <title>Rails Blog</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Nunito|Lobster|Bangers|Patrick Hand SC|Cinzel|Happy Monkey' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <meta name="viewport" content="width=1200">

</head>
<body>

  <div class="view">

    <% if user_signed_in? %>

      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-left">
            <li class="<%= controller.class == WelcomeController  || controller.class == WelcomeController || controller.class == WelcomeController ? 'active' : '' %>"><%= link_to 'Home', root_path, class: 'navbar-brand' %></li>
            <li class="<%= controller.class == ArticlesController  || controller.class == ArticlesController || controller.class == ArticlesController ? 'active' : '' %>"><%= link_to 'Articles', articles_path, class: 'navbar-brand' %></li>
            <% if can? :manage, Article %>
              <li class="<%= controller.class == AdminsController  || controller.class == AdminsController || controller.class == AdminsController ? 'active' : '' %>"><%= link_to 'Admins', admins_path, class: 'navbar-brand' %></li>
            <% end %>
            <% if can? :manage, :all %>
              <li class="<%= controller.class == SuperadminsController  || controller.class == SuperadminsController || controller.class == SuperadminsController ? 'active' : '' %>"><%= link_to 'Supers', superadmins_path, class: 'navbar-brand' %></li>
            <% end %>
          </ul><!-- nav navbar-nav navbar-left -->
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <%= link_to edit_user_registration_path, class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
                <%= current_user.first_name %> <!-- <b class="caret"></b> -->
              <% end %>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", edit_user_registration_path %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          </ul><!-- nav navbar-nav navbar-right -->
        </div><!-- container-fluid -->
      </div><!-- "navbar navbar-inverse navbar-fixed-top" role="navigation" -->

    <% end %>

    <%= yield %>

    <div class="social">
      <iframe src='http://www.facebook.com/plugins/like.php?href=https://www.facebook.com/monmouthcourier&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=120' scrolling='no' frameborder='0' style='border:none; overflow:hidden; height:120px;' allowTransparency='true'></iframe>
      <g:plusone></g:plusone>
    </div><!-- social -->

    <div class="footer">
      <a href="tel:732-513-6080">
        <%= image_tag 'phone.png' %>
      </a>
      <a href="mailto:ajmaseda@gmail.com">
        <%= image_tag 'email.png' %>
      </a>
      <a href="https://www.facebook.com/anthony.maseda" target = "blank">
        <%= image_tag 'facebook.png' %>
      </a>
      <a href="http://instagram.com/tony_maseda/" target = "blank">
        <%= image_tag 'instagram.png' %>
      </a>
      <a href="https://www.youtube.com/channel/UCxR1elfy91jLjkdI5FbG2Fg" target = "blank">
        <%= image_tag 'youtube.png' %>
      </a>
      <a href="https://twitter.com/AnthonyMaseda" target = "blank">
        <%= image_tag 'twitter.png' %>
      </a>
      <a href="https://www.linkedin.com/profile/view?id=164611762&trk=nav_responsive_tab_profile" target = "blank">
        <%= image_tag 'linkedin.png' %>
      </a>
      <a href="https://github.com/CMBmaseda" target="_blank">
        <%= image_tag 'github.png' %>
      </a>
      <p>&copy; 2014 / All Rights Reserved</p>
    </div><!--. footer -->

  </div><!-- view -->

</body>
</html>
